/* ************************************************************************** */
/*                                                                            */
/*                                                        :::      ::::::::   */
/*   index.css                                          :+:      :+:    :+:   */
/*                                                    +:+ +:+         +:+     */
/*   By: edjubert <edjubert@student.42.fr>          +#+  +:+       +#+        */
/*                                                +#+#+#+#+#+   +#+           */
/*   Created: 2019/05/09 18:08:00 by edjubert          #+#    #+#             */
/*   Updated: 2019/05/23 16:40:35 by edjubert         ###   ########.fr       */
/*                                                                            */
/* ************************************************************************** */

body {
	background-color: #242424;
	overflow: hidden;
}
svg {
	background-color: #242424;
}
.pauseBtn {
	font-size: 50px;
}
.mainDiv {
	background-color: #414141;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	padding: 0.5%;
	/* align-content: center;
	justify-items: center;
	text-align: center; */
}

.links line {
	stroke: #999;
	stroke-opacity: 0.6;
}

.nodes circle {
	stroke: #fff;
	stroke-width: 1.5px;
}
.hover {
	background-color: white;
}
div.tooltip {
	position: absolute;
	background-color: white;
	max-width: 300px;
	height: auto;
	padding: 10px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	border-style: solid;
	border-radius: 4px;
	border-width: 1px;
	box-shadow: 3px 3px 10px rgba(0, 0, 0, .5);
	pointer-events: none;
}
span.nodeName {
	color: green;
	font-weight: bold;
	font-size: 19px;
}
